<div class="row">
  <h1>Web Audio Package Manager</h1>
  <p>This app is 3 separate components (maybe more, not sure). The goal was to create a package manager for web audio API nodes so they can be accessed all in one place, and browsable on an app, where if they follow a spec, they'll be able to be played in a browser so devs can try them out.</p>
  <p>The <a href="https://github.com/wapm/wapm-cli">CLI</a> for registering packages is still incomplete, but sending packages to the service.</p>
  <p>The <a href="https://github.com/wapm/wapm-service">service</a> stores information about the packages and exposes an API for use.</p>
  <p>The app (this) is in the NKO repo, although all of these were started for 48 hours ago.</p>
  <p>They all need a lot of love and will be worked on over the next few weeks, but this seemed a bit ambitious for one person :) Will iron out the spec, service, CLI and browsable app in the weeks to come, add components so the effects can be tweeked while browsing, etc.. also a lot of styling love.</p>
  <p>To try it out, <strong>search for "reverb"</strong>, and then load up a sample below!</p>
  <p><strong>Only works with the Web Audio API (webkit only at the moment)</strong></p>
</div>

