<div class="row">
  <h1>Web Audio Package Manager</h1>
  <div>
    This is a collection of modules for the Web Audio API. Browse and demo them on this site, check out the <a href="https://github.com/wapm/web-audio-module-spec/blob/master/wapm-spec.md" title="WAPM spec">spec</a> for making your own modules, and use the <a href="https://github.com/wapm/wapm-cli" title="WAPM node tool">node.js CLI</a> for pulling down modules.
  </div>
  <div>
    This is a work in progress, please submit any issues and feedback to the appropriate project on the <a href="https://github.com/wapm">WAPM GitHub page</a>!
  </div>
</div>

