<div class="row">
  <div class="player">
    <div class="player-loading">
      <div class="progress progress-striped active">
        <div class="bar" style="width:100%"></div>
      </div>
      <div class="loading-background"></div>
    </div>
    <select class="samples">
      <option value="vox">vocals</li>
      <option value="lead">acoustic guitar lead</li>
      <option value="rhythm">acoustic guitar rhythm</li>
      <option value="solo-dry">electric guitar lead</li>
    </select>
    <div class="btn-group">
      <a href="#" class="btn play-button" data-playing="false"><i class="icon-play"></i></a>
    </div>
    <div class="module well">
      <h3>{{name}}</h3>

    </div>
  </div>
</div>

