<div class="row">
  <select class="samples">
    <option value="vox">vocals</li>
    <option value="lead">acoustic guitar lead</li>
    <option value="rhythm">acoustic guitar rhythm</li>
    <option value="solo-dry">electric guitar lead</li>
  </select>
  <div class="module well">
    <h3>{{name}}</h3>

  </div>
</div>

