<div class="row">
  <h2>Results for {{query}}</h2>
  <ul class="nav nav-tabs nav-stacked">
    {{#each packages}}
      <li><a href="#">{{name}}</a> - {{description}}</li>
    {{/each}}
  </ul>
</div>
