<div class="row">
  <form class="form-search">
    <div class="input-prepend">
      <span class="add-on"><i class="icon icon-search"></i></span>
      <input type="search" class="search-query" id="search-bar" placeholder="plate delay"/>
    </div>
  </form>
</div>
