body
  padding-bottom: 40px
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

.row
  margin-left: 0px

.navbar
  .logo
    background-image: url('../img/webaudiocomponents-50.png')
    width: 50px
    height: 50px
    float: left
    margin-right: 10px

  .container >
    margin-top: 10px
