.player-view
  height: 170px
  width: 920px
  bottom: 0px
  position: fixed
  margin-bottom: -200px
  &.well
    padding: 9px
  .controls .samples, .controls .btn-group
    float: left

  .controls .hide
    float: right
