body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.row {
  margin-left: 0px;
}

.module-control-view .param {
  float: right;
  margin-right: 35px;
  margin-top: 15px;
  text-align: center;
}

.player-view {
  height: 170px;
  width: 920px;
  bottom: 0px;
  position: fixed;
  margin-bottom: -200px;
}
.player-view.well {
  padding: 9px;
}
.player-view .controls .samples,
.player-view .controls .btn-group {
  float: left;
}
.player-view .controls .hide {
  float: right;
}

#search-bar {
  width: 900px;
  height: 30px;
  font-size: 30px;
  line-height: 36px;
}
