!!!
html
  head
    title= 'Web Audio Components'
    meta(charset='utf-8')
    meta('http-equiv'='X-UA-Compatible', content='IE=edge,chrome=1')
    - if (env === 'development')
      link(rel='stylesheet', href='css/app.css')
    - else
      link(rel='stylesheet', href='/css/app.min.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') Web Audio Package Manager
          ul.nav
            li
              a(href='#') Home
            li
              a(href='#about') About

    #content.container

    - if (env === 'development')
      script
        var ENV = 'development';
      script(src='js/app.js')
    - else
      script
        var ENV = 'production';
      script(src='js/app.min.js')
